<div class="bg-[#FFFFFF] md:px-20 md:py-16 p-5">
    <div class="grid sm:grid-cols-2 gap-10">
        <div class="grid place-content-center justify-normal">
            <img [src]="explainPlatform.image" alt="images">
        </div>
        <div class="font-normal tracking-wide">
            <p class="text-center md:text-start text-3xl">{{explainPlatform.heding}}</p>
            <p class="text-justify text-base">{{explainPlatform.paragraph}}</p>
        </div>
    </div>
</div>
<div class="bg-[#F2F2F2] md:px-20 md:py-16 p-5">
    <div class="grid md:grid-cols-2 lg:grid-cols-3 gap-7">
        <div *ngFor="let data of explainPlatform.aboutTechnologies">
            <p class="text-lg font-semibold">{{data.count}}</p>
            <p class="text-lg font-medium">{{data.aboutHeading}}</p>
            <p class="text-base font-normal text-justify">{{data.aboutParagraph}}</p>
        </div>
    </div>
</div>