<div class="bg-[#FFFFFF] md:px-20 md:py-16 p-5">
    <div class="grid sm:grid-cols-2 gap-10">
        <div class="grid place-content-center justify-normal">
            <img src="../../../../../assets/happyTarget.png" alt="images">
        </div>
        <div class="font-normal tracking-wide">
            <p class="text-center md:text-start text-3xl">Flawless Performance.Great User Experience</p>
            <p class="text-justify text-base">From start-ups to well-established companies, almost everyone these days
                uses ReactJS to build native
                apps. This open-source JavaScript framework specializes in building UIs and has been designed to help
                create apps for both Android and iOS platforms. ReactJS is considered one of the best front-end
                development frameworks as it enables developers to build robust & complex products. Utilize our React
                outsourcing capacity and build a robust solution for your own business!</p>
        </div>
    </div>
</div>
<div class="bg-[#F2F2F2] md:px-20 md:py-16 p-5">
    <div class="grid md:grid-cols-2 lg:grid-cols-3 gap-5">
        <div>
            <p class="text-lg font-semibold">250+</p>
            <p class="text-lg font-normal">Skilled Engineers</p>
            <p class="text-base font-normal text-justify">Whether you hire one or 10 React developers, we guarantee that
                you will be working only with Middle and
                Senior level engineers.</p>
        </div>
        <div>
            <p class="text-lg font-semibold">275+</p>
            <p class="text-lg font-normal">React Projects</p>
            <p class="text-base font-normal text-justify">With years of experience delivering top-notch React
                development services, our skilled developers can handle projects of any complexity.</p>
        </div>
        <div>
            <p class="text-lg font-semibold">10+</p>
            <p class="text-lg font-normal">Years of Experience</p>
            <p class="text-base font-normal text-justify">Our most experienced React engineers were early adopters of
                the library and started implementing its features as early as 2013.</p>
        </div>
    </div>
</div>