<div class="bg-[#FFFFFF] md:px-20 md:py-14 p-5">
    <div>
        <p class="custome-text text-lg font-medium uppercase text-center ">{{para1}}</p>
        <p class="text-center text-3xl font-semibold">{{para2}}</p>
    </div>
    <div class="grid sm:grid-cols-2 gap-5">
        <div>
            <img src="../../../../assets/personImage.webp" alt="">
        </div>
        <div class="grid gap-3">
            <input type="text" placeholder="Name" class="border border-gray-300 text-gray-500 p-4 w-full focus:outline-none">
            <input type="text" placeholder="Email ID" class="border border-gray-300 text-gray-500 p-4 w-full focus:outline-none">
            <input type="text" placeholder="Mobile Number" class="border border-gray-300 text-gray-500 p-4 w-full focus:outline-none">
            <input type="text" placeholder="Subject" class="border border-gray-300 text-gray-500 p-4 w-full focus:outline-none">
            <textarea type="text" placeholder="Message" class="border border-gray-300 text-gray-500 p-4 w-full focus:outline-none"></textarea>
            <button  mat-raised-button color="primary">Send Message</button>
        </div>
    </div>
</div>