.custome-text{
    background: linear-gradient(90deg, #005079, #4a94f7, #ea743a, #e35c18, #ff6800);
    background-clip: text;
    -webkit-background-clip: text;
    color: #0000;
    font-family: Manrope, sans-serif;
    line-height: 20px;
    margin-bottom: 10px;
}