<div class="bg-[#FFFFFF] md:px-20 md:py-16 p-5">
    <div>
        <p class="text-[#054776] md:text-3xl text-xl font-semibold text-center tracking-wide">{{javaFuture.topHeading}}
        </p>
        <div class="py-10">
            <img class="rounded-3xl w-full" [src]="javaFuture.image" alt="java_future">
        </div>
    </div>
    <div class="text-[#404040] grid gap-4">
        <p class="text-3xl tracking-wide" [innerHTML]="javaFuture.heading"></p>
        <label *ngFor="let data of javaFuture.paragraph">
            <p class="text-base text-justify" [innerHTML]="data.subPara"></p>
        </label>
        <p class="text-2xl font-normal tracking-normal" [innerHTML]="javaFuture.subHeadingOne"></p>
        <ul *ngFor="let data of javaFuture.underList" class="list-disc p-3 grid gap-5 text-base font-normal text-justify">
            <li [innerHTML]="data.list"></li>
        </ul>
        <p class="text-2xl font-normal tracking-normal" [innerHTML]="javaFuture.functionPara"></p>
        <p class="text-base text-justify" [innerHTML]="javaFuture.applicationPara"></p>
        <ul *ngFor="let data of javaFuture.techUnderList" class="list-disc p-1.5 grid gap-5 text-base font-normal text-justify">
            <li [innerHTML]="data.techList"></li>
        </ul> 
        <p class="text-2xl font-normal tracking-normal">{{javaFuture.innerHeading}}</p>
        <p class="text-base text-justify" [innerHTML]="javaFuture.innerParagraph"></p>
        <p class="text-base text-justify">{{javaFuture.innerSecondPara}}</p>
        <ul *ngFor="let data of javaFuture.underListSecond" class="list-disc p-1.5 grid gap-5 text-base font-normal text-justify">
            <li [innerHTML]="data.secondList"></li>
        </ul>
        <p class="text-base text-justify">{{javaFuture.lastParagraph}}</p>
        <div *ngFor="let data of javaFuture.technologies">
            <p class="text-2xl font-normal tracking-normal">{{data.tech}}</p>
            <p class="text-base text-justify" [innerHTML]="data.para"></p>
        </div>
    </div>
</div>