<div class="md:p-20 p-5">
    <p class="text-center text-5xl font-normal pb-10">Our Impact</p>
    <div class="pt-5 bg-[#F3F6FF] rounded-custom p-10">
        <div class="grid md:grid-cols-4">
            <div class="grid place-content-center justify-center p-5">
                <p class="text-[#21AAE4] text-5xl font-bold tracking-wider">1000+</p>
                <p class="text-lg font-normal md:pt-8 pt-2 text-center">Project Delivered</p>
            </div>
            <div class="grid place-content-center justify-center p-5">
                <p class="text-[#21AAE4] text-5xl font-bold tracking-wider text-center">90%</p>
                <p class="text-lg font-normal md:pt-8 pt-2 text-center">Contract renewals</p>
            </div>
            <div class="grid place-content-center justify-center p-5">
                <p class="text-[#21AAE4] text-5xl font-bold tracking-wider text-center">500+</p>
                <p class="text-lg font-normal md:pt-8 pt-2 text-center whitespace-nowrap">Team of passionate Engineers</p>
            </div>
            <div class="grid place-content-center justify-center p-5">
                <p class="text-[#21AAE4] text-5xl font-bold tracking-wider">15+</p>
                <p class="text-lg font-normal md:pt-8 pt-2 text-center">Countries</p>
            </div>
        </div>
    </div>
</div>