<!-- <app-heading-description/> -->
<div class="bg-[#FDF4FE] md:px-20 p-5" style="height: 50%;">
    <div class="grid lg:grid-cols-2">
        <div class="tracking-wide grid place-content-center justify-center">
            <p class="text-3xl font-semibold text-center md:text-start">Java Developer</p>
            <p class="text-base font-normal text-justify">For client-side and server-side projects, we develop feature-rich Java web applications. We guarantee to provide high-quality, long-lasting Java Software solutions because of our extensive exposure to all the cutting-edge new technologies.</p>
            <div routerLink="/contact">
                <button class="text-white bg-[#6366F1] text-lg font-medium px-10 py-2 rounded shadow md:shadow-md">HIRE
                    NOW</button>
            </div>
        </div>
        <div class="grid place-content-center justify-center">
            <img src="../../../../../assets/angular.svg" alt="">
        </div>
    </div>
</div>
<app-explain-platform [explainPlatform]="explainPlatform" />
<app-tech-stack [techStack]="techStack" />
<app-tech-benefits [techBenefits]="techBenefits" />