<div class="bg-[#ffffff] md:px-20 md:py-10 p-5">
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-10">
        <div>
            <img class="md:p-10 p-3" src="../../../../../assets/about_quality.png" alt="about_quality">
        </div>
        <div class="grid place-content-center justify-center">
            <p class="text-3xl font-normal text-center tracking-wide">Quality Centered, Customer Obsessed.</p>
            <p class="text-lg text-justify font-normal">{{aboutPara}}</p>
        </div>
    </div>
    <mat-card>
        <div class="bg-[#F2F2F2] p-5">
            <div class="grid lg:grid-cols-3 gap-5">
                <div>
                    <p class="text-lg font-medium">83%</p>
                    <p class="text-lg font-normal">Customer Retention</p>
                    <p class="text-sm text-justify font-normal">Most of the client are extremely delighted after
                        improving their current software and launch new projects with Willben</p>
                </div>
                <div>
                    <p class="text-lg font-medium">84%</p>
                    <p class="text-lg font-normal">Employee Retention</p>
                    <p class="text-sm text-justify font-normal">Our developers and QA engineers have worked with
                        Willben for an average of over 6 years</p>
                </div>
                <div>
                    <p class="text-lg font-medium">93%</p>
                    <p class="text-lg font-normal">Professional Staff</p>
                    <p class="text-sm text-justify font-normal">We only hire Junior engineers as there will always be
                        a senior-level mentor available for 1-on-1 mentorship.</p>
                </div>
            </div>
        </div>
    </mat-card>
</div>
<div class="bg-[#F1F1F1] md:px-20 md:py-10 p-5">
    <p class="text-center text-3xl font-normal">Why Willben Group Private Limited?</p>
    <div class="grid sm:grid-cols-2 lg:grid-cols-4 gap-5">
        <div>
            <mat-icon color="primary">flash_on</mat-icon>
            <p class="text-base font-normal">Start fast. Finish with confidence.</p>
            <p class="text-sm font-normal text-justify">We want you to find a team rapidly and get straight to turning
                your vision into a reality.</p>
        </div>
        <div>
            <mat-icon color="primary">location_on</mat-icon>
            <p class="text-base font-normal">Cross-domain expertise</p>
            <p class="text-sm font-normal text-justify">There's no challenge we can't handle with confidence and great
                courage.</p>
        </div>
        <div>
            <mat-icon color="primary">star</mat-icon>
            <p class="text-base font-normal">Excellent Code Quality</p>
            <p class="text-sm font-normal text-justify">Beyond QA, we ensure your code is immaculate and free of
                technical debt.</p>
        </div>
        <div>
            <mat-icon color="primary">search</mat-icon>
            <p class="text-base font-normal">100% Transparency</p>
            <p class="text-sm font-normal text-justify">Explicit and Consistent communication, flexible pricing, and
                full dedication to your success.</p>
        </div>
    </div>
</div>