<app-services-top-part [serviceTopPart]="serviceTopPart" />
<app-single-card-service [singlaCard]="singlaCard" />
<app-leading-multinational-clients [multinationalClients]="multinationalClients" />
<div class="bg-white md:px-20 md:py-16 p-5">
    <div class="text-center text-black font-normal tracking-wide">
        <p class="text-3xl">{{heading}}</p>
        <p class="text-base">{{paragraph1}}</p>
    </div>
    <div  class="grid md:grid-cols-2 lg:grid-cols-3 gap-5">
        <div *ngFor="let card of cloudPlatform.singleCardDetails" class="bg-white shadow-lg rounded mb-4">
            <div class="grid place-content-center justify-center p-3 md:p-5">
              <img [src]="card.image" [alt]="card.imageName">
            </div>
            <mat-divider></mat-divider>
            <div class="p-3 md:p-5">
              <div class="grid gap-3 text-base font-normal">
                <p class="text-lg underline" *ngIf="card.paragraphs.length">{{ card.paragraphs[0].paragraph }}</p>
                <p *ngFor="let para of card.paragraphs.slice(1)">{{ para.paragraph }}</p>
              </div>
              <ul *ngIf="card.allLists && card.allLists.length" class="list-disc px-5">
                <li *ngFor="let item of card.allLists">{{ item.list }}</li>
              </ul>
            </div>
          </div>
    </div>
</div>

<!-- <img src="../../../../assets/microSoftAzure.svg" alt=""> -->