<!-- <app-heading-description/> -->
<div class="bg-[#FDF4FE] md:px-20 p-5" style="height: 50%;">
    <div class="grid lg:grid-cols-2">
        <div class="tracking-wide grid place-content-center justify-center">
            <p class="text-3xl font-semibold text-center md:text-start">iOS App Development</p>
            <p class="text-base font-normal text-justify">We take your ideas and turn them into engaging iOS
                applications that a large number of iPhone users can use. Willben Group Private Limited is an industry
                leader in creating distinctive, eye-catching applications with creative layouts for a variety of
                markets. With our experience, your apps will achieve business objectives and cultivate a devoted user
                base.</p>
            <div routerLink="/contact">
                <button class="text-white bg-[#6366F1] text-lg font-medium px-10 py-2 rounded shadow md:shadow-md">HIRE
                    NOW</button>
            </div>
        </div>
        <div class="grid place-content-center justify-center">
            <img src="../../../../../assets/angular.svg" alt="">
        </div>
    </div>
</div>
<app-explain-platform [explainPlatform]="explainPlatform" />
<app-tech-stack [techStack]="techStack" />
<app-tech-benefits [techBenefits]="techBenefits" />