<div class="relative hidden md:block">
    <div class="bg-white shadow-xl p-5 headerIndex fixed top-0 left-0 right-0 w-full">
        <div class="flex justify-between gap-5">
            <div class="w-1/4 cursor-pointer" routerLink="/">
                <span class="text-lg font-medium text-[#2460A6]">WILLBEN GROUP PRIVATE LIMITED</span><br>
                <span class="text-[10px] italic text-[#566573]">Empowerd by Innovation...</span>

            </div>
            <div class="w-3/4 grid justify-end">
                <ul class="list-none p-2 flex cursor-pointer">
                    <li class="relative group" routerLink="/">
                        <span class="py-2 px-4 text-black hover:text-[#0084ff]">
                            HOME
                        </span>
                    </li>
                    <li class="relative group">
                        <span class="py-2 px-4 text-black hover:text-[#0084ff]">
                            COMPANY
                        </span>
                        <ul class="absolute left-0 mt-1 w-48 text-[#7D828C] bg-white border border-gray-200 rounded shadow-lg hidden 
                    group-hover:block">
                            <li routerLink="/portfolio" class="py-2 px-4 ">
                                Portfolio
                            </li>
                            <li routerLink="/about_us" class="py-2 px-4 hover:text-[#0084ff]">
                                About Us
                            </li>
                        </ul>
                    </li>
                    <li class="relative group">
                        <span class="py-2 px-4 text-black hover:text-[#0084ff]">
                            SERVICES
                        </span>
                        <ul class="absolute whitespace-nowrap left-0 mt-1 w-64 text-[#7D828C] bg-white border border-gray-200 rounded shadow-lg hidden 
                        group-hover:block">
                            <li class="py-2 px-4 hover:text-[#0084ff]">
                                Software Product Development
                            </li>
                            <li class="py-2 px-4 hover:text-[#0084ff]">
                                Software Development
                            </li>
                            <li class="py-2 px-4 hover:text-[#0084ff]">
                                SaaS Development
                            </li>
                            <li class="py-2 px-4 hover:text-[#0084ff]">
                                Application Development
                            </li>
                            <li class="py-2 px-4 hover:text-[#0084ff]">
                                Web App Development
                            </li>
                            <li class="py-2 px-4 hover:text-[#0084ff]">
                                Software Testing
                            </li>
                            <li class="py-2 px-4 hover:text-[#0084ff]">
                                UI/UX Design
                            </li>
                            <li class="py-2 px-4 hover:text-[#0084ff]">
                                Cloud
                            </li>
                        </ul>
                    </li>
                    <li class="relative group">
                        <span class="py-2 px-4 text-black hover:text-[#0084ff]">
                            TECHNOLOGIES
                        </span>
                        <ul class="absolute left-0 mt-1 w-96 text-[#7D828C]   bg-white border border-gray-200 rounded shadow-lg hidden 
                    group-hover:block">
                            <div class="flex justify-between">
                                <div>
                                    <li class="py-2 px-4 text-black text-sm tracking-wider font-semibold">
                                        FrontEnd
                                    </li>
                                    <li class="py-2 px-4 hover:text-[#0084ff]">
                                        React
                                    </li>
                                    <li class="py-2 px-4 hover:text-[#0084ff]">
                                        Angular
                                    </li>
                                    <li class="py-2 px-4 hover:text-[#0084ff]">
                                        Next Js
                                    </li>
                                </div>
                                <div>
                                    <li class="py-2 px-4 text-black text-sm tracking-wider font-semibold">
                                        Backend
                                    </li>
                                    <li class="py-2 px-4 hover:text-[#0084ff]">
                                        .Net
                                    </li>
                                    <li class="py-2 px-4 hover:text-[#0084ff]">
                                        Node Js
                                    </li>
                                    <li class="py-2 px-4 hover:text-[#0084ff]">
                                        Java
                                    </li>
                                    <li class="py-2 px-4 hover:text-[#0084ff]">
                                        Nest Js
                                    </li>
                                </div>
                                <div>
                                    <li class="py-2 px-4 text-black text-sm tracking-wider font-semibold">
                                        Mobile
                                    </li>
                                    <li class="py-2 px-4 hover:text-[#0084ff]">
                                        iOS
                                    </li>
                                    <li class="py-2 px-4 hover:text-[#0084ff]">
                                        Android
                                    </li>
                                    <li class="py-2 px-4 hover:text-[#0084ff]">
                                        React Native
                                    </li>
                                    <li class="py-2 px-4 hover:text-[#0084ff]">
                                        Flutter
                                    </li>
                                </div>
                            </div>

                        </ul>
                    </li>
                    <li class="relative group" routerLink="/blog">
                        <span class="py-2 px-4 text-black hover:text-[#0084ff]">
                            BLOGS
                        </span>
                    </li>
                    <li class="relative group">
                        <span class="py-2 px-4 text-black hover:text-[#0084ff]">
                            CAREERS
                        </span>
                    </li>
                    <li class="relative group" routerLink="/contact">
                        <span class="py-2 px-4 text-black hover:text-[#0084ff]">
                            CONTACT
                        </span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>