<div class="bg-[#F3F6FF]">
    <div class="md:p-10 p-5">
        <div class="text-[#0B2E58] text-4xl font-normal text-center">{{heading}}</div>
        <p class="text-[#333333] text-2xl pt-3 text-center">{{headingDesc}}</p>
        <div class="grid md:grid-cols-2 gap-5 md:px-16 md:pt-5 pt-0 px-0">
            <div class="shadow-lg bg-white">
                <div>
                    <img [src]="softwareImage" alt="">
                </div>
                <div class="p-5">
                    <div class="text-[#0B2E58] text-xl font-semibold">{{software}}</div>
                    <p class="text-justify pt-2 text-base font-normal">{{softwarePara}}</p>
                </div>
            </div>
            <div class="shadow-lg bg-white">
                <div class="p-5">
                    <div class="text-[#0B2E58] text-xl font-semibold">{{customer}}</div>
                    <p class="text-justify pt-2 text-base font-normal">.{{customerPara}}</p>
                </div>
                <div>
                    <img [src]="customerImage" alt="">
                </div>
            </div>
            <div class="shadow-lg bg-white">
                <div>
                    <img src="../../../../../assets/SaaS_development.webp" alt="">
                </div>
                <div class="p-5">
                    <div class="text-[#0B2E58] text-xl font-semibold">SaaS Development</div>
                    <p class="text-justify pt-2 text-base font-normal">Creating a successful SaaS product requires more
                        than just writing code, it also requires careful planning, user-centered design thinking,
                        efficient development, and ongoing improvement. With our comprehensive SaaS development
                        services, which cover every stage from conception to deployment and beyond, you can take your
                        business to new heights.</p>
                </div>
            </div>
            <div class="shadow-lg bg-white">
                <div class="p-5">
                    <div class="text-[#0B2E58] text-xl font-semibold">Software Testing & QA</div>
                    <p class="text-justify pt-2 text-base font-normal">Work with Willben Group Private Limited to fully
                        immerse yourself in the dynamic world of software testing and quality assurance services. Our
                        dedication assures you of cost-effectiveness as well as unmatched delivery speed without
                        sacrificing quality. Set new industry standards for excellence with a significant increase in
                        the efficiency of code deployment and an optimized Software Development Life Cycle.</p>
                </div>
                <div>
                    <img src="../../../../../assets/software_testing.webp" alt="">
                </div>
            </div>
            <div class="shadow-lg bg-white">
                <div>
                    <img src="../../../../../assets/application_development.webp" alt="">
                </div>
                <div class="p-5">
                    <div class="text-[#0B2E58] text-xl font-semibold">Application Development</div>
                    <p class="text-justify pt-2 text-base font-normal">Willben Group Private Limited is a leading mobile
                        app development company that prides itself on having a team of experienced developers with a
                        track record of accomplishments. Our professionals are skilled in creating hybrid, iOS, and
                        Android apps with a clear emphasis on user-centric design. Put your trust in us to use our
                        unmatched experience and digital intelligence to bring your vision to life.</p>
                </div>
            </div>
            <div class="shadow-lg bg-white">
                <div class="p-5">
                    <div class="text-[#0B2E58] text-xl font-semibold">UI/UX Design</div>
                    <p class="text-justify pt-2 text-base font-normal">Create a user interface that is enticing in order
                        to improve business engagement and provide memorable online experiences. Unlock Willben Group
                        Private Limited' full potential by making use of state-of-the-art tools and technologies to
                        create aesthetically pleasing and intuitive designs. To make sure your online presence sticks
                        out in the crowded online space, take advantage of our extensive creative designing experience.
                    </p>
                </div>
                <div>
                    <img src="../../../../../assets/ui_ux.webp" alt="">
                </div>
            </div>
            <div class="shadow-lg bg-white">
                <div>
                    <img src="../../../../../assets/cloud.webp" alt="">
                </div>
                <div class="p-5">
                    <div class="text-[#0B2E58] text-xl font-semibold">Cloud</div>
                    <p class="text-justify pt-2 text-base font-normal">Willben Group Private Limited is a prominent
                        provider of cloud solutions and a leading cloud development company. Its mission is to help
                        businesses transform their IT infrastructure seamlessly by offering highly affordable cloud
                        services. Our team of seasoned professionals specializes in providing cutting-edge cloud
                        computing consulting services, enabling businesses to achieve previously unheard-of levels of
                        productivity.</p>
                </div>
            </div>
            <div class="shadow-lg bg-white">
                <div class="p-5">
                    <div class="text-[#0B2E58] text-xl font-semibold">Web Development</div>
                    <p class="text-justify pt-2 text-base font-normal">Give Willben Group Private Limited the task of
                        meticulously planning, developing, and implementing web apps that result in notable changes to
                        transform your web development projects. Within our comprehensive development approach, we begin
                        by conducting a thorough analysis of the disruptive web development challenges. Next, with ease,
                        we design a user-friendly user interface (UI/UX) that ensures a reliable, fully functional web
                        solution tailored to your unique needs.</p>
                </div>
                <div>
                    <img src="../../../../../assets/web_development.webp" alt="">
                </div>
            </div>
        </div>
    </div>
</div>