<div class="bg-[#F8F8F8] md:px-20 md:py-16 p-5">
    <p class="text-3xl font-normal text-center text-[#0b2e5] tracking-wide">Software Product Development Services</p>
    <p class="text-lg text-center font-normal">Leverage our diverse capabilities in providing comprehensive end-to-end
        product engineering services.</p>
    <div class="grid lg:grid-cols-3 gap-5">
        <div class="bg-white p-5">
            <img class="h-16 w-16" src="../../../../assets/prototyping.png" alt="prototype">
            <p class="text-xl font-medium tracking-wide py-5">Prototyping & MVP Development</p>
            <p class="text-base tracking-wide font-normal text-justify">Identify, pinpoint, and describe the demands
                unique to a product by developing a prototype based on
                consumer input and current market trends. Use our MVP development service and prototyping methodology to
                test your product in real-world markets and reduce risk.</p>
        </div>
        <div class="bg-white p-5">
            <img class="h-16 w-16" src="../../../../assets/productArchecture.png" alt="productArchecture">
            <p class="text-xl font-medium tracking-wide py-5">Product Architecture Design Service</p>
            <p class="text-base tracking-wide font-normal text-justify">Adapt to emerging trends by thoroughly analyzing
                the market and creatively converting consumer demands into feature sets for your products. To provide
                your company a competitive edge, our knowledgeable software product developers thoroughly examine every
                product architectural layer and extract valuable insights.</p>
        </div>
        <div class="bg-white p-5">
            <img class="h-16 w-16" src="../../../../assets/uiuxDesign.png" alt="uiuxDesign">
            <p class="text-xl font-medium tracking-wide py-5">UI/UX Design Service</p>
            <p class="text-base tracking-wide font-normal text-justify">With a well-defined UI/UX strategy, business
                workflows may be tracked by developing information architecture, wireframing, and UX design to engage
                more users. Our designers for UI/UX Modify the design thinking methodology to provide a novel product.
                designs that are captivating, logical, and easy to use in keeping with the state of the market.</p>
        </div>
        <div class="bg-white p-5">
            <img class="h-16 w-16" src="../../../../assets/productDevelopment.png" alt="productDevelopment">
            <p class="text-xl font-medium tracking-wide py-5">Product Development</p>
            <p class="text-base tracking-wide font-normal text-justify">We provide end-to-end services for developing
                software products that are in line with particular business requirements. We use various development and
                operational methodologies, such as SCRUM, Agile, DevOps, Waterfall, and Prototyping. Our skillful
                technical leads offer product innovation, use cutting-edge technology solutions, improve time to market,
                and increase profitability.</p>
        </div>
        <div class="bg-white p-5">
            <img class="h-16 w-16" src="../../../../assets/productTesting.png" alt="productTesting">
            <p class="text-xl font-medium tracking-wide py-5">Product Testing</p>
            <p class="text-base tracking-wide font-normal text-justify">We adhere to rigorous quality analysis from
                Validation, Functional, Performance, Smoke, and UAT testing in accordance with standards of quality
                assurance to ensure the developed product is secure, scalable, and stable. Our skilled quality assurance
                team makes sure that all levels of integration, resilience, and easy customization are present in our
                software products.</p>
        </div>
        <div class="bg-white p-5">
            <img class="h-16 w-16" src="../../../../assets/maintanceSupport.png" alt="">
            <p class="text-xl font-medium tracking-wide py-5">Maintenance & Support Services</p>
            <p class="text-base tracking-wide font-normal text-justify">To enhance workflows and boost overall
                productivity, our software maintenance and support teams continuously update the product with the newest
                technologies. For our clients, our skilled software developers guarantee prompt assistance and
                hassle-free services, which may include problem solving, integration, migration, and enhancement.</p>
        </div>
    </div>
</div>

<div class="bg-[#F3F6FF] md:px-20 md:py-16 p-5">
    <div class="grid md:grid-cols-1 lg:grid-cols-2 gap-5 md:gap-24">
        <div>
            <img class="rounded-md w-full" src="../../../../assets/bestSoftwareProduct.png" alt="bestSoftwareProduct">
        </div>
        <div>
            <p class="text-2xl md:text-4xl font-semibold">Best Software Product Development</p>
            <div class="text-base text-justify font-normal">
                <p>Willben Group Private Limited, a top Pune-based software development firm, provides clients with
                    comprehensive product development tools. Our talented global team ensures flexibility and delivers
                    high-quality results with dedication and professionalism.</p>
                <p>In our role as a prominent company specializing in product development, we possess the expertise in
                    conceptualizing, constructing, sustaining, and enhancing a wide range of software solutions. We
                    firmly adhere to the belief that a product signifies a vital component of your business, serving as
                    a reflection of your brand's image and establishing trust among your target audience. We recognize
                    the significance of individuality for each product and therefore undertake a tailored approach to
                    align it with your specific requirements and objectives. Our commitment lies in creating customized
                    solutions that effectively cater to your needs, ensuring optimal satisfaction and success in your
                    endeavors.</p>
            </div>
        </div>
    </div>
</div>
<div class="bg-white md:px-20 md:py-16 p-5">
    <div class="grid lg:grid-cols-2 gap-5">
        <div>
            <p class="text-2xl md:text-4xl font-medium">Our Leading Multinational Clients</p>
            <p class="text-base font-normal">Join our diverse client base for a digital transformation journey</p>
        </div>
        <div class="grid md:grid-cols-3 gap-5">
            <img src="../../../../assets/mindLife.webp" alt="mindLife">
            <img src="../../../../assets/theWorldBank.webp" alt="theWorldBank">
            <img src="../../../../assets/casio.png" alt="casio">
        </div>
    </div>
</div>
<div class="bg-[#F3F6FF] md:px-20 md:py-16 p-5">
    <div>
        <p class="text-4xl font-medium text-center">Technologies & Platforms We Work With</p>
        <p class="text-sm font-normal text-center">We understand the importance of technical competency and business
            acumen for building unique software products.
            We go beyond set standards and norms to meet expectations</p>
    </div>
    <div class="grid place-content-center justify-center">
        <div class="flex gap-10 text-base tracking-wide">
            <p (click)="viewFonted()">FRONTED</p>
            <p (click)="viewBackend()">BACKEND</p>
            <p (click)="viewMobile()">MOBILE</p>
        </div>
    </div>
    @if(forntend){
    <div class="grid place-content-center justify-center">
        <div class="flex flex-wrap gap-5">
            <div class="hover:bg-white hover:shadow-md">
                <img class="p-5 h-20 w-20" src="../../../../assets/javascript.svg" alt="javascript">
            </div>
            <div class="hover:bg-white hover:shadow-md">
                <img class="p-5 h-20 w-20" src="../../../../assets/html.svg" alt="html">
            </div>
            <div class="hover:bg-white hover:shadow-md">
                <img class="p-5 h-20 w-20" src="../../../../assets/css.svg" alt="css">
            </div>
            <div class="hover:bg-white hover:shadow-md">
                <img class="p-5 h-20 w-20" src="../../../../assets/angular.webp" alt="angular">
            </div>
            <div class="hover:bg-white hover:shadow-md">
                <img class="p-5 h-20 w-20" src="../../../../assets/react.svg" alt="react">
            </div>
            <div class="hover:bg-white hover:shadow-md">
                <img class="p-5 h-20 w-20" src="../../../../assets/ember.svg" alt="ember">
            </div>
        </div>
    </div>
    }
    @if(backend){
    <div class="grid place-content-center justify-center">
        <div class="flex flex-wrap gap-5">
            <div class="hover:bg-white hover:shadow-md">
                <img class="p-5 h-20 w-20" src="../../../../assets/java.svg" alt="java">
            </div>
            <div class="hover:bg-white hover:shadow-md">
                <img class="p-5 h-20 w-20" src="../../../../assets/nextjs.png" alt="nextjs">
            </div>
            <div class="hover:bg-white hover:shadow-md">
                <img class="p-5 h-20 w-20" src="../../../../assets/nodejs.svg" alt="nodejs">
            </div>
            <div class="hover:bg-white hover:shadow-md">
                <img class="p-5 h-20 w-20" src="../../../../assets/dotnet.svg" alt="dotnet">
            </div>
        </div>
    </div>
    }
    @if(mobile){
    <div class="grid place-content-center justify-center">
        <div class="flex flex-wrap gap-5">
            <div class="hover:bg-white hover:shadow-md">
                <img class="p-5 h-20 w-20" src="../../../../assets/flutter.svg" alt="flutter">
            </div>
            <div class="hover:bg-white hover:shadow-md">
                <img class="p-5 h-20 w-20" src="../../../../assets/react.svg" alt="reactNative">
            </div>
            <div class="hover:bg-white hover:shadow-md">
                <img class="p-5 h-20 w-20" src="../../../../assets/ionic.svg" alt="ionic">
            </div>
            <div class="hover:bg-white hover:shadow-md">
                <img class="p-5 h-20 w-20" src="../../../../assets/android.svg" alt="android">
            </div>
            <div class="hover:bg-white hover:shadow-md">
                <img class="p-5 h-20 w-20" src="../../../../assets/pwa.svg" alt="pwa">
            </div>
        </div>
    </div>
    }
</div>
<app-our-blog [title]="title" />