<!-- <app-heading-description/> -->
<div class="bg-[#FDF4FE] md:px-20 p-5" style="height: 50%;">
    <div class="grid lg:grid-cols-2">
        <div class="tracking-wide grid place-content-center justify-center">
            <p class="text-3xl font-semibold text-center md:text-start">DotNet Developer</p>
            <p class="text-base font-normal text-justify">Our top-notch DotNet development services will help you grow
                your company!
                Building exceptional web apps that make you stand out is our specialty. We ensure optimal performance,
                responsiveness, and security by customizing solutions to your needs by our skilled team. For a
                competitive advantage, embrace digital transformation.</p>
            <div routerLink="/contact">
                <button class="text-white bg-[#6366F1] text-lg font-medium px-10 py-2 rounded shadow md:shadow-md">HIRE
                    NOW</button>
            </div>
        </div>
        <div class="grid place-content-center justify-center">
            <img src="../../../../../assets/dotnetComponent.svg" alt="">
        </div>
    </div>
</div>
<app-explain-platform [explainPlatform]="explainPlatform" />