<!-- <app-heading-description/> -->
<div class="bg-[#FDF4FE] md:px-20 p-5" style="height: 50%;">
    <div class="grid lg:grid-cols-2">
        <div class="tracking-wide grid place-content-center justify-center">
            <p class="text-3xl font-semibold text-center md:text-start">Next Js Developer</p>
            <p class="text-base font-normal text-justify">Use our superior services to grow your company. advancement of Next.js Create incredibly effective web applications that surpass rivals. Excellent performance, responsiveness, and security are guaranteed by our skilled team's custom solutions. To remain competitive, embrace digital transformation. Reach out to us to make your idea a reality!</p>
            <div routerLink="/contact">
                <button class="text-white bg-[#6366F1] text-lg font-medium px-10 py-2 rounded shadow md:shadow-md">HIRE
                    NOW</button>
            </div>
        </div>
        <div class="grid place-content-center justify-center">
            <img src="../../../../../assets/angular.svg" alt="">
        </div>
    </div>
</div>
<app-explain-platform [explainPlatform]="explainPlatform" />
<app-tech-stack [techStack]="techStack" />
<app-tech-benefits [techBenefits]="techBenefits" />