<div class="bg-[#F3F6FF]">
    <div class="md:px-28 md:py-20 p-5">
        <div class="grid md:grid-cols-2">
            <div class="md:mr-10 mb-5 md:mb-0">
                <div class="text-3xl font-semibold">Who Are We?</div>
                <div class="text-[#585c7b] text-base text-justify mt-4 grid gap-4 tracking-wide">
                    <p>Willben Group Private Limited is an innovative global platform, seamlessly blending web
                        development, design, and digital marketing services, including social media marketing.Our
                        mission is to empower you with strategic solutions and state-of-the-art technology, propelling
                        you to market excellence and achieving triumph. Rely on us for comprehensive support to thrive
                        and succeed.
                    </p>
                    <p>We are not just a team, but a dynamic and motivated powerhouse, passionately dedicated to
                        crafting innovative solutions that resonate with the pulse of today's ever-evolving business
                        landscape. Our unwavering commitment lies in not only providing top-notch services but also in
                        understanding and adapting them to your distinct needs, thus granting you the tools not just to
                        survive but to truly flourish in the cutthroat competitive market. Count on us to not only be a
                        reliable partner but an enthusiastic architect of your triumphant journey towards success.</p>
                </div>
                <button class="px-5 ease-in-out duration-300 bg-[#1266f1] hover:bg-[#0C56D0] text-white text-base font-medium rounded-md py-2 ">Know more about us</button>
            </div>
            <div>
                <img class="rounded-lg" src="assets/who_we_are.webp" alt="who_we_are">
            </div>
        </div>
    </div>
</div>