<div class="bg-[#F8F8F8] md:px-20 md:py-16 p-5">
    <p class="text-3xl font-normal text-center text-[#0b2e58] tracking-wide">Custom Software Development Services</p>
    <p class="text-lg text-center font-normal">Our custom business software solutions provide a wide range of services
        to various businesses.</p>
    <div class="grid lg:grid-cols-3 gap-5">
        <div class="bg-white p-5">
            <img class="h-16 w-16" src="../../../../assets/bespoke.png" alt="bespoke">
            <p class="text-xl font-medium tracking-wide py-5">Bespoke Software Development</p>
            <p class="text-base tracking-wide font-normal text-justify">Excellent custom software development services,
                technical expertise, and knowledgeable resources are paired to enhance overall business strategy. Using
                a proven prototyping methodology and comprehensive custom development plan, we build custom applications
                from the ground up for mobile, web, and cloud platforms, guaranteeing smooth integration, adaptability,
                and financial success for our clients.</p>
        </div>
        <div class="bg-white p-5">
            <img class="h-16 w-16" src="../../../../assets/application.png" alt="application">
            <p class="text-xl font-medium tracking-wide py-5">Application Migration and Re-Engineering</p>
            <p class="text-base tracking-wide font-normal text-justify">Upgrade current software solutions and increase
                efficiency by repurposing, rearranging, or transferring infrastructure to fully functional, fully
                customized applications. With cutting-edge enhancements of new features, enhanced UI/UX, and
                contemporary security based on cutting-edge technologies, our software engineers guarantee flawless
                re-engineering of software.</p>
        </div>
        <div class="bg-white p-5">
            <img class="h-16 w-16" src="../../../../assets/applicationMaintenance.png" alt="applicationMaintenance">
            <p class="text-xl font-medium tracking-wide py-5">Software Application Maintenance</p>
            <p class="text-base tracking-wide font-normal text-justify">By performing routine software maintenance,
                upgrades, and performance optimization, you can help your software application reach its full potential.
                With regular software updates and real-time issue resolution, our custom software development services
                let you easily manage all post-development tasks and produce high-performing apps.</p>
        </div>
        <div class="bg-white p-5">
            <img class="h-16 w-16" src="../../../../assets/saasApplication.png" alt="saasApplication">
            <p class="text-xl font-medium tracking-wide py-5">SaaS Applications</p>
            <p class="text-base tracking-wide font-normal text-justify">To solve your unique business challenges and
                achieve increased productivity, lower risks, a competitive edge, and an improved customer experience,
                take advantage of our many years of experience developing commercial SaaS-based applications. We have
                extensive experience developing serverless and cloud-based SaaS applications utilizing a range of
                frameworks and technologies.</p>
        </div>
        <div class="bg-white p-5">
            <img class="h-16 w-16" src="../../../../assets/applicatiionIntegration.png" alt="applicatiionIntegration">
            <p class="text-xl font-medium tracking-wide py-5">Application Integration</p>
            <p class="text-base tracking-wide font-normal text-justify">end-to-end application integration services to
                improve the workflow that impedes the advancement of business between various business sources. Modern
                services between offline or on-premise cloud data environments are provided by our software integration
                engineers with customization to enable more flexible and seamless business operations at a reduced
                integration cost.</p>
        </div>
        <div class="bg-white p-5">
            <img class="h-16 w-16" src="../../../../assets/maintanceSupport.png" alt="maintanceSupport">
            <p class="text-xl font-medium tracking-wide py-5">Maintenance and Support</p>
            <p class="text-base tracking-wide font-normal text-justify">Enhance application performance by implementing
                revolutionary modifications during software upgrades and maintenance that are customized to meet
                individual customer requirements. We assist clients with custom software support at various levels, such
                as cloud support for seamless business continuity, web services support, operation system integration
                changes, and infrastructure changes.</p>
        </div>
    </div>
</div>

<div class="bg-[#F3F6FF] md:px-20 md:py-16 p-5">
    <div class="grid md:grid-cols-1 lg:grid-cols-2 gap-5 md:gap-24">
        <div>
            <img class="rounded-md w-full" src="../../../../assets/topCustomeSoftware.png" alt="topCustomeSoftware">
        </div>
        <div class="grid place-content-center justify-center">
            <p class="text-2xl md:text-4xl font-semibold">Top Custom Software Development Services</p>
            <div class="text-base text-justify font-normal">
                <p>As a reputable custom software development company, we are aware that custom software is created with
                    particular business goals, procedures, and branding in mind. It has a variety of special features
                    depending on what your business needs.</p>
                <p>Our custom software development services are centered on creating scalable and adaptable custom
                    applications in the face of a changing business environment.</p>
                <p>Our client-friendly policies and methodical approach enable us to provide affordable and exceptional
                    custom software development services. If you bring us your idea, we're sure we can use our extensive
                    business background and understanding of the market to your advantage for the creation of custom
                    software.</p>
            </div>
        </div>
    </div>
</div>

<div class="bg-white md:px-20 md:py-16 p-5">
    <div class="grid lg:grid-cols-2 gap-5">
        <div>
            <p class="text-2xl md:text-4xl font-medium">Our Leading Multinational Clients</p>
            <p class="text-base font-normal">Join our diverse client base for a digital transformation journey</p>
        </div>
        <div class="grid md:grid-cols-3 gap-5">
            <img src="../../../../assets/mindLife.webp" alt="mindLife">
            <img src="../../../../assets/theWorldBank.webp" alt="theWorldBank">
            <img src="../../../../assets/casio.png" alt="casio">
        </div>
    </div>
</div>
<div class="bg-[#F3F6FF] md:px-20 md:py-16 p-5">
    <div>
        <p class="text-4xl font-medium text-center">Technologies & Platforms We Work With</p>
        <p class="text-sm font-normal text-center">We understand the importance of technical competency and business
            acumen for building unique software products.
            We go beyond set standards and norms to meet expectations</p>
    </div>
    <div class="grid place-content-center justify-center">
        <div class="flex gap-10 text-base tracking-wide">
            <p (click)="viewLANGUAGES()">LANGUAGES</p>
            <p (click)="viewDATABASE()">DATABASE</p>
            <p (click)="viewFRAMEWORKS()">FRAMEWORKS</p>
        </div>
    </div>
    @if(languages){
    <div class="grid place-content-center justify-center">
        <div class="flex flex-wrap gap-5">
            <div class="hover:bg-white hover:shadow-md">
                <img class="p-5 h-20 w-20" src="../../../../assets/dotnet.svg" alt="dotnet">
            </div>
            <div class="hover:bg-white hover:shadow-md">
                <img class="p-5 h-20 w-20" src="../../../../assets/cSharp.svg" alt="cSharp">
            </div>
            <div class="hover:bg-white hover:shadow-md">
                <img class="p-5 h-20 w-20" src="../../../../assets/javascript.svg" alt="javascript">
            </div>
            <div class="hover:bg-white hover:shadow-md">
                <img class="p-5 h-20 w-20" src="../../../../assets/java.svg" alt="java">
            </div>
            <div class="hover:bg-white hover:shadow-md">
                <img class="p-5 h-20 w-20" src="../../../../assets/nextjs.png" alt="nextjs">
            </div>
            <div class="hover:bg-white hover:shadow-md">
                <img class="p-5 h-20 w-20" src="../../../../assets/swift.svg" alt="swift">
            </div>
            <div class="hover:bg-white hover:shadow-md">
                <img class="p-5 h-20 w-20" src="../../../../assets/c++.svg" alt="C++">
            </div>
        </div>
    </div>
    }
    @if(database){
    <div class="grid place-content-center justify-center">
        <div class="flex flex-wrap gap-5">
            <div class="hover:bg-white hover:shadow-md">
                <img class="p-5 h-20 w-20" src="../../../../assets/mongodb.svg" alt="mongodb">
            </div>
            <div class="hover:bg-white hover:shadow-md">
                <img class="p-5 h-20 w-20" src="../../../../assets/mysql.webp" alt="mysql">
            </div>
            <div class="hover:bg-white hover:shadow-md">
                <img class="p-5 h-20 w-20" src="../../../../assets/postgresql.svg" alt="postgresql">
            </div>
            <div class="hover:bg-white hover:shadow-md">
                <img class="p-5 h-20 w-20" src="../../../../assets/oracle.svg" alt="oracle">
            </div>
            <div class="hover:bg-white hover:shadow-md">
                <img class="p-5 h-20 w-20" src="../../../../assets/imdb.png" alt="imdb">
            </div>
            <div class="hover:bg-white hover:shadow-md">
                <img class="p-5 h-20 w-20" src="../../../../assets/redis.svg" alt="redis">
            </div>
            <div class="hover:bg-white hover:shadow-md">
                <img class="p-5 h-20 w-20" src="../../../../assets/elastic.svg" alt="elastic">
            </div>
        </div>
    </div>
    }
    @if(freameWorks){
    <div class="grid place-content-center justify-center">
        <div class="flex flex-wrap gap-5">
            <div class="hover:bg-white hover:shadow-md">
                <img class="p-5 h-20 w-20" src="../../../../assets/angular.webp" alt="angular">
            </div>
            <div class="hover:bg-white hover:shadow-md">
                <img class="p-5 h-20 w-20" src="../../../../assets/react.svg" alt="react">
            </div>
            <div class="hover:bg-white hover:shadow-md">
                <img class="p-5 h-20 w-20" src="../../../../assets/bootstrap.svg" alt="bootstrap">
            </div>
            <div class="hover:bg-white hover:shadow-md">
                <img class="p-5 h-20 w-20" src="../../../../assets/nodejs.svg" alt="nodejs">
            </div>
            <div class="hover:bg-white hover:shadow-md">
                <img class="p-5 h-20 w-20" src="../../../../assets/aws.svg" alt="aws">
            </div>
            <div class="hover:bg-white hover:shadow-md">
                <img class="p-5 h-20 w-20" src="../../../../assets/mern.png" alt="mern">
            </div>
            <div class="hover:bg-white hover:shadow-md">
                <img class="p-5 h-20 w-20" src="../../../../assets/vue.svg" alt="vue">
            </div>
        </div>
    </div>
    }
</div>

<div class="bg-[#F3F6FF] md:px-20 md:py-16 p-5">
    <p class="text-3xl font-normal text-center tracking-wide">The Value We Offer Our Clients</p>
    <p class="text-lg text-center font-normal">We ensure your experience with us is hassle-free and transparent.</p>
    <div class="grid sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-2 gap-5 md:gap-7 pt-2 md:pt-5">
        <div class="bg-white rounded-md shadow-md p-5">
            <img class="h-14" src="../../../../assets/consultativeApproch.svg" alt="consultativeApproch">
            <p class="text-[#192734] text-2xl font-medium tracking-wide pt-3">Consultative Approach</p>
            <p class="text-[#4c5a67] text-base font-normal text-justify">We can provide a distinct and consultative
                perspective on software engineering that you won't find with
                other development and technology consulting providers because we have over ten years of industry
                experience working with over a thousand clients.</p>
        </div>
        <div class="bg-white rounded-md shadow-md p-5">
            <img class="h-14" src="../../../../assets/allInOneProvider.svg" alt="allInOneProvider">
            <p class="text-[#192734] text-2xl font-medium tracking-wide pt-3">All-in-One Provider</p>
            <p class="text-[#4c5a67] text-base font-normal text-justify">We can handle all of your needs, from
                development to software testing to cloud services, end-to-end support and maintenance, developing AI
                solutions, and much more, thanks to the breadth of our services.</p>
        </div>
        <div class="bg-white rounded-md shadow-md p-5">
            <img class="h-14" src="../../../../assets/minimizeDevelopment.svg" alt="minimizeDevelopment">
            <p class="text-[#192734] text-2xl font-medium tracking-wide pt-3">Minimize Development Costs</p>
            <p class="text-[#4c5a67] text-base font-normal text-justify">Our development services are dependable and
                reasonably priced due to cloud-based architectures, readily available frameworks and platforms, and open
                APIs. Our Agile processes reduce the possibility of rework and improve the final product.</p>
        </div>
        <div class="bg-white rounded-md shadow-md p-5">
            <img class="h-14" src="../../../../assets/longTermPartnership.svg" alt="longTermPartnership">
            <p class="text-[#192734] text-2xl font-medium tracking-wide pt-3">Long Term Partnership</p>
            <p class="text-[#4c5a67] text-base font-normal text-justify">Even after providing and setting up our best
                custom software solutions, we don't stop. Beyond that, we establish a long-term partnership by providing
                consistent maintenance support to ensure the smooth operation of your company.</p>
        </div>
    </div>
</div>

<app-our-blog [title]="title" />