<div class="bg-[#131022]">
    <div class="grid grid-cols-4 gap-2 p-10 text-white">
        <div>
            <span class="text-lg font-medium">WILLBEN GROUP PRIVATE LIMITED</span><br>
            <h3>Office Address</h3>
            <div class="flex gap-2">
                <div>
                    <mat-icon>add_location</mat-icon>
                </div>
                <div class="">N-1 South Extension part 1,Ring road,New Delhi-110049</div>
            </div>
            <div class="flex gap-2">
                <div>
                    <mat-icon>add_location</mat-icon>
                </div>
                <div class=""><p><a className="link-underline link-underline-opacity-0 text-dark" href="mailto:willbentechnologies@gmail.com">willbentechnologies&#64;gmail.com</a></p></div>
            </div>
        </div>
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>