<div class="bg-[#131022]">
    <div class="flex justify-between gap-10 p-5 text-white">
        <div class="w-1/4">
            <span class="text-lg font-medium">WILLBEN GROUP PRIVATE LIMITED</span><br>
            <h3>Office Address</h3>
            <div class="flex gap-2">
                <div>
                    <mat-icon>add_location</mat-icon>
                </div>
                <div class="">N-1 South Extension part 1,Ring road,New Delhi-110049</div>
            </div>
            <div class="flex gap-2">
                <div>
                    <mat-icon>mail</mat-icon>
                </div>
                <div class="cursor-pointer">
                    <p class="underline">Email:<a
                            href="mailto:willbentechnologies@gmail.com">willbentechnologies&#64;gmail.com</a></p>
                </div>
            </div>
            <!-- <h3>Get In Touch With Us!</h3>
            <p>
                1. Linkdin
                2. Instagram
                3. Facebook
                4. Youtube
                5. Twitter
            </p> -->
        </div>
        <div class="w-4/5 grid grid-cols-3">
            <div>
                <span class="text-xl font-medium">Popular Categories</span>
                <div class="text-[#DCDBDE] text-xs grid gap-3">
                    <div class="mt-3">Software Product Development</div>
                    <div>Software Development</div>
                    <div>SaaS Development</div>
                    <div>Application Development</div>
                    <div>Web App Development</div>
                    <div>Software Testing</div>
                    <div>UI/UX Design</div>
                </div>
            </div>
            <div>
                <span class="text-xl font-medium">Company</span>
                <div class="text-[#DCDBDE] text-xs grid gap-3">
                    <div class="mt-3">Portfolio</div>
                    <div>Blogs / Articles</div>
                    <div>Careers</div>
                    <div>About us</div>
                    <div>Contact us</div>
                </div>
            </div>
            <div>
                <span class="text-xl font-medium">Technologies</span>
                <div class="text-[#DCDBDE] text-xs grid gap-3">
                    <div class="mt-3">React</div>
                    <div>Angular</div>
                    <div>Node Js</div>
                    <div>.Net</div>
                    <div>Java</div>
                    <div>React Native</div>
                    <div>Android</div>
                </div>
            </div>
        </div>
    </div>
</div>