<div class="bg-[#F8F8F8] md:px-20 md:py-16 p-5">
    <p class="md:text-4xl text-2xl font-normal text-center text-[#0B2E58]">Our Blogs</p>
    <div class="grid md:grid-cols-3 lg:grid-cols-3 gap-5 pt-5">
        <div class="shadow cursor-pointer" routerLink="">
            <div>
                <img src="../../../../../assets/benefit.webp" alt="benefit">
            </div>
            <div class="p-5">
                <p class="underline text-2xl font-normal">Benefits of implementing APIs in a Business</p>
                <p class="text-base font-normal">In today's dynamic digital commerce landscape, Application Programming Interfaces (APIs) have emerged..</p>
            </div>
        </div>
    </div>
</div>